*{
    text-align: left;
}

.division{
    border-bottom: solid 2px #406661;
    width:200px;
}

/*展示主体*/
#displayDiv{
    background-color: #FFFFFF;
}

/*搜索框*/
input[type=search] {
    background: #f5f5f5 9px center;
    border:solid 1px #406661;
    width:55px;
    color: transparent;
    border-radius: 1px;

    transition: all .5s;

    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input[type=search]:focus{
    width:130px;
    border:solid 1px #57d131;
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}